#title {
  margin-top: 50px;
  font-weight: 600;
  color: black;
}

#header {
  margin: 20px 0 10px 0;
}

#content {
  display: flex;
  justify-content: center;
}

#content #left-table {
  width: 450px;
  margin-right: 10px;
}

#content #right-table {
  width: 550px;
}

.table-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.table-menu button {
  margin-left: 5px;
}

tr.on td {
  background-color: #e3f8ff;
}