<section id="video-section">
  <div class="video-header">
    <h1>video 타이틀입니다</h1>
  </div>
  <div class="video-body">
    <div class="vimeo-wrapper">
      <iframe
        src="https://player.vimeo.com/video/424701121"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="video-footer">
    <button class="lecture-move-btn prev-btn" (click)="movePrevLecture()">
      &lt; 이전강의
    </button>
    <button class="lecture-move-btn next-btn" (click)="moveNextLecture()">
      다음강의 &gt;
    </button>
  </div>
</section>

<section id="lecture-list-section">
  <div class="lecture-detail">
    <h1>목차</h1>
    <h2>video 타이틀입니다</h2>
    <h3>수강 기한 : 무제한</h3>
    <h3>진도율: 26강/30강 (86.66%) | 시간: 226분/267분</h3>
    <progress value="86" max="100"></progress>
  </div>

  <div class="lecture-list">
    <div class="chapter-title">섹션 1. 챕터에 대해 배워보자</div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 7분</p>
      </div>
    </div>

    <div class="lecture-item active">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      
      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 9분</p>
      </div>
    </div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      
      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 8분</p>
      </div>
    </div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      
      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 7분</p>
      </div>
    </div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      
      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 7분</p>
      </div>
    </div>

    <div class="chapter-title">섹션 2. 챕터에 대해 배워보자</div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 7분</p>
      </div>
    </div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      
      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 9분</p>
      </div>
    </div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      
      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 8분</p>
      </div>
    </div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      
      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 7분</p>
      </div>
    </div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      
      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 7분</p>
      </div>
    </div>

    <div class="chapter-title">섹션 3. 챕터에 대해 배워보자</div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>

      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 7분</p>
      </div>
    </div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      
      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 9분</p>
      </div>
    </div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      
      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 8분</p>
      </div>
    </div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      
      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 7분</p>
      </div>
    </div>

    <div class="lecture-item">
      <div class="check-box">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      
      <div class="lecture-title-wrapper">
        <h1>video 타이틀입니다</h1>
        <p><i nz-icon nzType="play-circle" nzTheme="fill"></i> 7분</p>
      </div>
    </div>

  </div>
</section>
