<section id="video-section">
  <div class="video-header">
    <h1>{{ class_data.class_nm }}</h1>
  </div>
  <div class="video-body">
    <div class="vimeo-wrapper">
      <iframe
        src="https://player.vimeo.com/video/424701121"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="video-footer">
    <button class="lecture-move-btn prev-btn" (click)="movePrevLecture()">
      &lt; 이전강의
    </button>
    <button class="lecture-move-btn next-btn" (click)="moveNextLecture()">
      다음강의 &gt;
    </button>
  </div>
</section>

<section id="lecture-list-section">
  <div class="lecture-detail">
    <h1>목차</h1>
    <h2>{{ class_data.class_nm }}</h2>
    <h3>수강 기한 : 무제한</h3>
    <h3>진도율: 26강/30강 (86.66%) | 시간: 226분/267분</h3>
    <progress value="86" max="100"></progress>
  </div>

  <div class="lecture-list">
    <ng-container *ngFor="let curriculumgroup of curriculum_list | keyvalue">
      <div class="chapter-title">{{ curriculumgroup.key }}</div>
        <ng-container *ngFor="let curriculum of curriculumgroup.value | keyvalue">
          <div class="lecture-item">
            <div class="check-box">
              <i nz-icon nzType="check" nzTheme="outline"></i>
          </div>
          <div class="lecture-title-wrapper">
            <h1>{{curriculum.key}}</h1>
            <p><i nz-icon nzType="play-circle" nzTheme="fill"></i>{{curriculum.value}}</p>
          </div>
          </div>
        </ng-container>
    </ng-container>
  </div>
</section>
