#carousel {
    width: 100%;
    background-image: url("../../../assets/images/main_carousel_01.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    #carousel {
        height: 150px;
    }
}

@media (min-width: 769px) {
    #carousel {
        height: 250px;
    }
}

#join-content {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#join-content-inner {
    width: 1000px;
    text-align: center;
}

#join-content-inner h1 {
    font-size: 30px;
    font-weight: bold;
    color: #F77929;
}

#join-content-inner .join-content-forms {
    padding: 30px 0;
    text-align: left;
}

#join-content-inner .join-content-forms .join-form {
    margin: 20px 0;
}

#join-content-inner .join-content-forms .join-form h2 {
    font-size: 15px;
    font-weight: bold;
}

#join-content-inner .join-content-forms .join-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
    background-color: #F7F7F7;
    font-size: 13px;
}

#join-content-inner .join-content-forms .join-form input:focus {
    outline: none;
    background-color: #FFF;
}

#join-content-inner .join-content-forms .join-form #password-confirm-message {
    margin: 10px 0;
    padding-left: 8px;
}

#join-content-inner .join-conditions .join-condition-item {
    margin: 20px 0;
    padding: 20px 0;
}

#join-content-inner .join-conditions .join-condition-item .condition {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    height: 300px;
    border: 1px solid #CCC;
    overflow: scroll;
    box-sizing: border-box;
    background-color: #F7F7F7;
    text-align: left;
}

#join-content-inner .join-btn-wrapper {
    padding: 20px 0;
}

#join-content-inner .join-btn-wrapper button {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: #F77929;
    color: #F7F7F7;
    cursor: pointer;
}

#join-content-inner .join-btn-wrapper button:hover {
    background-color: #F48B49;
}

#join-content-inner .join-btn-wrapper button:active {
    transform: translateZ(0) scale(0.98);
}