.header {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: white;
  text-align: center;

  background-color: #457992;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 30px;
}

.body {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 145px;
  margin-right: 145px;
  font-family: "Noto Sans",Sans-serif;
  font-weight: 400;
}

.question, .answer {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.question:hover {
    color: #eab830;
    cursor: pointer;
}

.activate {
     color: #eab830;
}

.answer {
    border-top: 0px;
    min-height: 100px;
    white-space: pre-wrap;
}

.fas {
    margin-right: 7px;
}

@media (max-width: 1000px) {
  .header {
    font-size: 30px;
    line-height: 30px;
  }

  .body {
    margin-left: 15px;
    margin-right: 15px;
  }

}
