<div id="header">
  <div id="title">
    <i nz-icon nzType="user" nzTheme="outline"></i>
    정산
  </div>
</div>
<div id="content">
<div id="main-table">
  <div class="table-menu">
    <button nz-button nzType="default" nzShape="circle" (click)="incamAddfarePdf()" [disabled]="selectedIncamAddfare.addfare_seq == undefined"><i nz-icon nzType="file-pdf"></i></button>
  </div>
  <nz-table
    #incamAddfareTable
    nzShowSizeChanger
    nzBordered
    nzNoResult = "조회된 결과가 없습니다"
    [nzFrontPagination]="false"
    [nzData]="incamAddfares.data"
    [nzLoading]="incamAddfareLoading"
    [nzTotal]="incamAddfares.totalPages * incamAddfares.size"
    [(nzPageIndex)]="incamAddfares.pageNumber"
    [(nzPageSize)]="incamAddfares.size"
    (nzPageIndexChange)="getIncamAddfares()"
    nzShowSizeChanger="false"
    nzSize="small">
    <thead>
      <tr>
        <th nzWidth="11%" [nzAlign]="'center'">정산서 No.</th>
        <th nzWidth="10%" [nzAlign]="'center'">정산일자</th>
        <th nzWidth="13%" [nzAlign]="'center'">원청사</th>
        <th nzWidth="15%" [nzAlign]="'center'">강의명</th>
        <th nzWidth="10%" [nzAlign]="'center'">이름</th>
        <th nzWidth="10%" [nzAlign]="'center'">정산시수</th>
        <th nzWidth="10%" [nzAlign]="'center'">소득구분</th>
        <th nzWidth="10%" [nzAlign]="'center'">실지급액</th>
        <th nzWidth="10%" [nzAlign]="'center'">송금요청액</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of incamAddfareTable.data"
        (click)="selectIncamAddfare(data)"
        [ngClass]="{
          'on':this.selectedIncamAddfare.addfare_seq === data.addfare_seq
        }"
        style="cursor: pointer;">
          <td [nzAlign]="'center'">{{ data.addfare_date.substring(0,5) }}{{ data.addfare_seq }}</td>
          <td [nzAlign]="'center'">{{ data.addfare_date | date:'yyyy/MM/dd' }}</td>
          <td [nzAlign]="'center'">{{ data.original_company_nm }}</td>
          <td [nzAlign]="'center'">{{ data.class }}</td>
          <td [nzAlign]="'center'">{{ data.name }}</td>
          <td [nzAlign]="'center'">{{ data.hour }}</td>
          <td [nzAlign]="'center'">{{ data.income_type_nm }}</td>
          <td [nzAlign]="'right'">{{ calculate(data)[0] | number }}</td>
          <td [nzAlign]="'right'">{{ calculate(data)[1] | number }}</td>
      </tr>
    </tbody>
  </nz-table>
  </div>
</div>