<div id="header">
  <div id="title">
    <i nz-icon nzType="user" nzTheme="outline"></i>
    강의관리
  </div>
</div>
<div id="content">
  <div id="main-table">
    <div class="table-filter">
      <input nz-input placeholder="수업명" [(ngModel)]="filter.class_nm" (change)="getClassesFilter()"/>
      <input nz-input placeholder="강사" [(ngModel)]="filter.teacher" (change)="getClassesFilter()"/>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="구분" [(ngModel)]="filter.online_yn" (ngModelChange)="getClassesFilter()">
        <nz-option [nzValue]="1" nzLabel="온라인"></nz-option>
        <nz-option [nzValue]="0" nzLabel="오프라인"></nz-option>
      </nz-select>
    </div>
    <div class="table-menu">
      <button nz-button nzType="default" nzShape="circle" (click)="classAdd()"><i title="추가" nz-icon nzType="plus"></i></button>
      <button nz-button nzType="default" nzShape="circle" (click)="classUpdate()" [disabled]="selectedClass.class_seq == undefined"><i title="수정" nz-icon nzType="edit"></i></button>
      <button nz-button nzType="default" nzShape="circle" (click)="classDelete()" [disabled]="selectedClass.class_seq == undefined"><i title="삭제" nz-icon nzType="delete"></i></button>
    </div>

  <div id="main-table">
    <nz-table
    #testTable
    nzShowSizeChanger
    nzBordered
    nzNoResult = "조회된 결과가 없습니다"
    [nzFrontPagination]="false"
    [nzData]="classes.data"
    [nzLoading]="classLoading"
    [nzTotal]="classes.totalElements"
    [(nzPageIndex)]="classes.pageNumber"
    [(nzPageSize)]="classes.size"
    (nzPageIndexChange)="getClassesFilter()"
    nzShowSizeChanger="false"
    nzSize="small">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="40%" [nzAlign]="'center'">수업</th>
        <th nzWidth="20%" [nzAlign]="'center'">구분</th>
        <th nzWidth="20%" [nzAlign]="'center'">강사</th>
        <th nzWidth="20%" [nzAlign]="'center'">카테고리</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of testTable.data"
        (click)="selectClass(data)"
        (dblclick)="classUpdate()"

        [ngClass]="{
          'on':this.selectedClass.class_seq === data.class_seq
        }"
        style="cursor: pointer;"
      >
        <td [nzAlign]="'center'">{{ data.class_nm }}</td>
        <td [nzAlign]="'center'">{{ data.online_yn ? '온라인' : '오프라인'}}</td>
        <td [nzAlign]="'center'">{{ data.teacher_name }}</td>
        <td [nzAlign]="'center'">{{ data.category_name }}</td>
      </tr>
    </tbody>
  </nz-table>
  </div>
</div>
</div>

<nz-modal [(nzVisible)]="isClassAdd"
          nzTitle="강의추가" 
          (nzOnCancel)="popupCancel()"
          (nzOnOk)="classAddOk()"
          nzWidth="550">
  <div class="popup-content">
    <div>
      <nz-form-label nzRequired>수업 이름</nz-form-label>
      <input nz-input type="text" placeholder="수업 이름" [(ngModel)]="popupClass.class_nm"/>
    </div>
    <div>
      <nz-form-label nzRequired>카테고리</nz-form-label>
      <nz-select [(ngModel)]="popupClass.category">
        <nz-option [nzValue]="1" nzLabel="카테고리1"></nz-option>
        <nz-option [nzValue]="2" nzLabel="카테고리2"></nz-option>
      </nz-select>
    </div>
    <div>
      <nz-form-label nzRequired>구분</nz-form-label>
      <nz-select [(ngModel)]="popupClass.online_yn">
        <nz-option [nzValue]="1" nzLabel="온라인"></nz-option>
        <nz-option [nzValue]="0" nzLabel="오프라인"></nz-option>
      </nz-select>
    </div>
    <div>
      <nz-form-label nzRequired>기간</nz-form-label>
      <!-- <input nz-input type="text" placeholder="기간" [(ngModel)]="popupClass.duration"/> -->
      <nz-range-picker [(ngModel)]="date" (ngModelChange)="onDateChange($event)"></nz-range-picker>
    </div>
    <div>
      <nz-form-label nzRequired>기간이름</nz-form-label>
      <input nz-input type="text" placeholder="기간이름" [(ngModel)]="popupClass.duration_nm"/>
    </div>
    <div>
      <nz-form-label nzRequired>강의 교수</nz-form-label>
      <nz-select nzShowSearch nzServerSearch nzPlaceHolder="강의 교수" [(ngModel)]="popupClass.teacher" [nzShowArrow]="false" (nzOnSearch)="selectTeacher($event)">
        <nz-option *ngFor="let o of listOfTeacher" [nzLabel]="o.text" [nzValue]="o.value"> </nz-option>
      </nz-select>
    </div>
    <div>
      <nz-form-label nzRequired>정가</nz-form-label>
      <input nz-input type="text" placeholder="정가" [(ngModel)]="popupClass.price"/>
    </div>
    <div>
      <nz-form-label nzRequired>결제가</nz-form-label>
      <input nz-input type="text" placeholder="결제가" [(ngModel)]="popupClass.real_price"/>
    </div>
    <div>
      <nz-form-label nzRequired>강의 상태</nz-form-label>
      <nz-select [(ngModel)]="popupClass.status">
        <nz-option *ngFor="let data of classCode" [nzValue]="data.code_id" [nzLabel]="data.code_nm"></nz-option>
      </nz-select>
    </div>
    <div>
      <nz-form-label nzRequired>줌 링크</nz-form-label>
      <input nz-input type="text" placeholder="줌 링크" [(ngModel)]="popupClass.zoom_link"/>
    </div>
    <div>
      <nz-form-label nzRequired>줌 비밀번호</nz-form-label>
      <input nz-input type="text" placeholder="줌 비밀번호" [(ngModel)]="popupClass.zoom_pw"/>
    </div>
    <div>
      <nz-form-label nzRequired>공개여부</nz-form-label>
      <nz-select [(ngModel)]="popupClass.view_yn">
        <nz-option [nzValue]="1" nzLabel="공개"></nz-option>
        <nz-option [nzValue]="0" nzLabel="비공개"></nz-option>
      </nz-select>
    </div>
    <div>
      <nz-form-label nzRequired>썸네일</nz-form-label>
      <div class="upload-box" (click)="thumbnail.click()">
        <input #thumbnail type="file" style="display: none;" accept="image/*" (change)="thumbnailUpload($event.target.files)" />
        <ng-container *ngIf="!popupClass.thumbnail">
          <i class="upload-icon" nz-icon [nzType]="thumbnailLoading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="popupClass.thumbnail" class="preview-img" [src]="popupClass.thumbnail" style="width: 100%" />
      </div>
    </div>
  </div>
  
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="popupCancel()">취소</button>
    <button nz-button nzType="primary" (click)="classAddOk()">등록</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="isClassUpdate"
          nzTitle="강의수정" 
          (nzOnCancel)="popupCancel()"
          (nzOnOk)="classUpdateOk()"
          nzWidth="550">
  <div class="popup-content">
    <div>
      <nz-form-label nzRequired>수업 이름</nz-form-label>
      <input nz-input type="text" placeholder="수업 이름" [(ngModel)]="popupClass.class_nm"/>
    </div>
    <div>
      <nz-form-label nzRequired>카테고리</nz-form-label>
      <nz-select [(ngModel)]="popupClass.category">
        <nz-option [nzValue]="1" nzLabel="카테고리1"></nz-option>
        <nz-option [nzValue]="2" nzLabel="카테고리2"></nz-option>
      </nz-select>
    </div>
    <div>
      <nz-form-label nzRequired>구분</nz-form-label>
      <nz-select [(ngModel)]="popupClass.online_yn">
        <nz-option [nzValue]="1" nzLabel="온라인"></nz-option>
        <nz-option [nzValue]="0" nzLabel="오프라인"></nz-option>
      </nz-select>
    </div>
    <div>
      <nz-form-label nzRequired>기간</nz-form-label>
      <nz-range-picker [(ngModel)]="date" (ngModelChange)="onDateChange($event)"></nz-range-picker>
    </div>
    <div>
      <nz-form-label nzRequired>기간이름</nz-form-label>
      <input nz-input type="text" placeholder="기간이름" [(ngModel)]="popupClass.duration_nm"/>
    </div>
    <div>
      <nz-form-label nzRequired>강의 교수</nz-form-label>
      <nz-select nzShowSearch nzServerSearch nzPlaceHolder="강의 교수" [(ngModel)]="popupClass.teacher" [nzShowArrow]="false" (nzOnSearch)="selectTeacher($event)">
        <nz-option *ngFor="let o of listOfTeacher" [nzLabel]="o.text" [nzValue]="o.value"> </nz-option>
      </nz-select>
    </div>
    <div>
      <nz-form-label nzRequired>정가</nz-form-label>
      <input nz-input type="text" placeholder="정가" [(ngModel)]="popupClass.price"/>
    </div>
    <div>
      <nz-form-label nzRequired>결제가</nz-form-label>
      <input nz-input type="text" placeholder="결제가" [(ngModel)]="popupClass.real_price"/>
    </div>
    <div>
      <nz-form-label nzRequired>강의 상태</nz-form-label>
      <nz-select [(ngModel)]="popupClass.status">
        <nz-option *ngFor="let data of classCode" [nzValue]="data.code_id" [nzLabel]="data.code_nm"></nz-option>
      </nz-select>
    </div>
    <div>
      <nz-form-label nzRequired>줌 링크</nz-form-label>
      <input nz-input type="text" placeholder="줌 링크" [(ngModel)]="popupClass.zoom_link"/>
    </div>
    <div>
      <nz-form-label nzRequired>줌 비밀번호</nz-form-label>
      <input nz-input type="text" placeholder="줌 비밀번호" [(ngModel)]="popupClass.zoom_pw"/>
    </div>
    <div>
      <nz-form-label nzRequired>공개여부</nz-form-label>
      <nz-select [(ngModel)]="popupClass.view_yn">
        <nz-option [nzValue]="1" nzLabel="공개"></nz-option>
        <nz-option [nzValue]="0" nzLabel="비공개"></nz-option>
      </nz-select>
    </div>
    <div>
      <nz-form-label nzRequired>썸네일</nz-form-label>
      <div class="upload-box" (click)="thumbnail.click()">
        <input #thumbnail type="file" style="display: none;" accept="image/*" (change)="thumbnailUpload($event.target.files)" />
        <ng-container *ngIf="!popupClass.thumbnail">
          <i class="upload-icon" nz-icon [nzType]="thumbnailLoading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="popupClass.thumbnail" class="preview-img" [src]="popupClass.thumbnail" style="width: 100%" />
      </div>
    </div>
  </div>
  
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="popupCancel()">취소</button>
    <button nz-button nzType="primary" (click)="classUpdateOk()">수정</button>
  </div>
</nz-modal>