<div id="topbar">
    <div class="wrapper">
        <a *ngIf="!loggedIn()" routerLink="/join">회원가입</a>
        <a *ngIf="!loggedIn()" routerLink="/login">로그인</a>        
        <a *ngIf="loggedIn()" (click)="logout()">로그아웃</a>
    </div>    
</div>
<div class="wrapper">
    <app-nav></app-nav>
</div>
<router-outlet id="article"></router-outlet>
<div id="bottom">
    <div class="wrapper">
        <div class="grid">
            <aside>
                <div class="title">
                    <h3>Insight Campus</h3>
                </div>
                <div class="text">
                    <p>(주)핀인사이트
                        <br>
                        대표| 이민호
                        <br>
                        개인정보책임관리자| 이민호
                        <br>
                        사업자번호| 856-87-00160
                        <br>
                        통신판매업 신고번호| 제 2018-서울강남-01170 호
                    </p>
                </div>
            </aside>
            
            <aside>
                <div class="title">
                    <h3>카톡플러스친구</h3>
                </div>
                <div class="text">
                    <p>카카오톡 플러스친구를 추가하시면
                        <br>
                        신청한 강의 개강 알림, 할인 쿠폰, 개강 안내 등 다양한 서비스를 받으실 수 있습니다.
                        <br>
                        ID : 인사이트캠퍼스
                    </p>
                </div>
            </aside>
            <aside>
                <div class="title">
                    <h3>contact</h3>
                </div>
                <div class="text">
                    <p>서울특별시 강남구 강남대로 464 비제바노빌딩 3층
                        <br>
                        02) 2605-0428
                        <br>
                        edu@fininsight.co.kr
                    </p>
                </div>
            </aside>
            <aside>
                <div class="title">
                    <h3>ETC.</h3>
                </div>
                <div class="text">
                    <ul style="list-style: disc;">
                        <li routerLink="/terms">이용약관</li>
                        <li routerLink="/privacy">개인정보처리방침</li>
                        <li routerLink="/refund">환불 규정</li>
                        <li>이메일 무단 수집거부</li>
                        <li>FAQ</li>
                    </ul>
                </div>
            </aside>
            
        </div>
        <div class="copyright_text">
            <div>Copyright © 2017 - 2020 Fin insight co., Ltd.</div>
        </div>
    </div> 
       
</div>