#topbar {
    background-color: #303030;
    height: 27px;
}

#topbar a {
    float: right;
    color: white;
    line-height: 27px;
    font-size: 12px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .wrapper {
        width: 992px;
        margin: 0 auto;
    }
}

#bottom {
    background-color:#303030;
    margin-top: 100px;
    height: 200px;
    color: white;
}