<div id="menu">
  <div routerLink="/" class="logo">
    <img src="../../../assets/images/logo_insightcampus.png" style="width:140px;">
  </div>
  <div style="float:right;">
  <ul nz-menu nzMode="horizontal">
    <li routerLink="/aboutus" nz-menu-item>인사이트캠퍼스</li>
    <li routerLink="/class/offline" nz-menu-item>오프라인</li>
    <li routerLink="/class/online" nz-menu-item>온라인</li>
    <li routerLink="/class/subscribe" nz-menu-item>구독</li>
    <li nz-menu-item>기업교육</li>
    <li nz-menu-item>커뮤니티</li>
    <li nz-menu-item>블로그</li>
  </ul>
  </div>
</div>


<div id="menu_mobile" style="height:40px;clear:both;">
  <div class="logo">
      <img src="../../../assets/images/logo_insightcampus.png" style="width:130px;">
  </div>
  <div style="float:right;">
  <a nz-dropdown [nzDropdownMenu]="menu" (nzVisibleChange)="change($event)" nzPlacement="bottomRight">
      <i nz-icon nzType="bars" nzTheme="outline" id="moreMenu"></i>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item nzDisabled style="font-size:10px; color:gray;">인사이트캠퍼스</li>
      <li nz-menu-item>1st menu item</li>
      <li nz-menu-item>2nd menu item</li>
      <li nz-menu-item nzDisabled style="font-size:10px; color:gray;">오프라인</li>
      <li nz-menu-item>1st menu item</li>
      <li nz-menu-item>2nd menu item</li>
      <li nz-menu-item nzDisabled style="font-size:10px; color:gray;">온라인</li>
      <li nz-menu-item>1st menu item</li>
      <li nz-menu-item>2nd menu item</li>
      <li nz-menu-item nzDisabled style="font-size:10px; color:gray;"></li>
      <li nz-menu-item>기업교육</li>
      <li nz-menu-item>커뮤니티</li>
      <li nz-menu-item>블로그</li>
    </ul>
  </nz-dropdown-menu>
</div>
</div>