#class-content {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#class-content-inner {
    width: 800px;
}

#class-content-inner > div {
    float: left;
    width: 220px;
    padding: 5px;
    margin: 20px 5px 0px 20px;
    cursor: pointer;
    color: black;
}

#class-content-inner div > img {
    width: 100%;
    height: 110px;
    display: block;
    object-fit: cover;
}

#class-content-inner div > div.name {
    font-size: 16px;
    font-weight: 700;
    height: 80px;
    margin: 10px 0px 5px 0px;
}

#class-content-inner div > div.price {
    text-align: right;
    text-decoration: line-through;
    height: 15px;
}

#class-content-inner div > div.real_price {
    text-align: right;
    font-size: 15px;
}

#class-content-inner div > div.teacher {
    text-align: right;
    font-size: 12px;
}

#class-content-inner div > div.duration {
    text-align: right;
    font-size: 12px;
}

