.header {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: white;
  text-align: center;

  background-color: #174052;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 30px;
}

.body{
    margin: 0 auto;
    width: 1200px;
}

p{
    color: #2E2E2E;
    margin-bottom: 30px;
}

.article{
    font-weight: 800;
}

@media (max-width: 1000px){

  .header {
    font-size: 30px;
    line-height: 30px;
  }

}
