<div id="header">
  <div id="title">
    <i nz-icon nzType="user" nzTheme="outline"></i>
    회원관리
  </div>
</div>

<div id="content">
  <div id="main-table">
    <div style="overflow:auto;">
      <div class="table-filter">
        <input nz-input placeholder="이름" [(ngModel)]="filter.name" (change)="getUser()" />
        <input nz-input placeholder="이메일" [(ngModel)]="filter.email" (change)="getUser()" />
      </div>
      <div class="table-menu">
        <button nz-button nzType="default" nzShape="circle" (click)="userAdd()"><i title="추가" nz-icon nzType="plus"></i></button>
        <button nz-button nzType="default" nzShape="circle" (click)="userUpdate()" [disabled]="selectedUser.user_seq == undefined"><i title="수정" nz-icon nzType="edit"></i></button>
        <button nz-button nzType="default" nzShape="circle" (click)="userDelete()" [disabled]="selectedUser.user_seq == undefined"><i title="삭제" nz-icon nzType="delete"></i></button>
      </div>
    </div>
    <nz-table #testTable nzShowSizeChanger nzBordered nzNoResult="조회된 결과가 없습니다" [nzFrontPagination]="false"
              [nzData]="users.data" [nzLoading]="userLoading" [nzTotal]="users.totalPages * users.size"
              [(nzPageIndex)]="users.pageNumber" [(nzPageSize)]="users.size" (nzPageIndexChange)="getUser()"
              nzShowSizeChanger="false" nzSize="small">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzWidth="30%" [nzAlign]="'center'">아이디</th>
          <th nzWidth="30%" [nzAlign]="'center'">이름</th>
          <th nzWidth="40%" [nzAlign]="'center'">이메일</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of testTable.data" (click)="selectUser(data)" (dblclick)="userUpdate()" [ngClass]="{
          'on':this.selectedUser.user_seq === data.user_seq
        }" style="cursor: pointer;">
          <td [nzAlign]="'center'">{{ data.user_id }}</td>
          <td [nzAlign]="'center'">{{ data.name }}</td>
          <td [nzAlign]="'center'">{{ data.email }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  </div>
<nz-modal [(nzVisible)]="isUserAdd" nzTitle="사용자추가" (nzOnCancel)="popupCancel()" (nzOnOk)="userAddOk()" nzWidth="550">
  <div class="popup-content">
    <div>
      <nz-form-label>사용자 ID</nz-form-label>
      <input nz-input type="text" placeholder="사용자 ID" [(ngModel)]="popupUser.user_id" />
    </div>
    <div>
      <nz-form-label>이름</nz-form-label>
      <input nz-input type="text" placeholder="이름" [(ngModel)]="popupUser.name" />
    </div>
    <div>
      <nz-form-label>이메일</nz-form-label>
      <input nz-input type="text" placeholder="이메일" [(ngModel)]="popupUser.email" />
    </div>
    <div>
      <nz-form-label>상태</nz-form-label>
      <input nz-input type="text" placeholder="상태" [(ngModel)]="popupUser.status" />
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="popupCancel()">취소</button>
    <button nz-button nzType="primary" (click)="userAddOk()">등록</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="isUserUpdate" nzTitle="사용자수정" (nzOnCancel)="popupCancel()" (nzOnOk)="userUpdateOk()"
  nzWidth="550">
  <div class="popup-content">
    <div>
      <nz-form-label>사용자 ID</nz-form-label>
      <input nz-input type="text" placeholder="사용자 ID" [(ngModel)]="popupUser.user_id" disabled />
    </div>
    <div>
      <nz-form-label>이름</nz-form-label>
      <input nz-input type="text" placeholder="이름" [(ngModel)]="popupUser.name" />
    </div>
    <div>
      <nz-form-label>이메일</nz-form-label>
      <input nz-input type="text" placeholder="이메일" [(ngModel)]="popupUser.email" />
    </div>
    <div>
      <nz-form-label>상태</nz-form-label>
      <input nz-input type="text" placeholder="상태" [(ngModel)]="popupUser.status" />
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="popupCancel()">취소</button>
    <button nz-button nzType="primary" (click)="userUpdateOk()">수정</button>
  </div>
</nz-modal>
