<ng-container *ngIf="!loggedIn() && name != null">
    <div id="login-wrapper">
        <div id="login">
            <nz-input-group>
                <input type="text" nz-input placeholder="이름" [(ngModel)]="user.user_id" (keydown)="familyLoginKeyDown($event)"/>
            </nz-input-group>        
            <nz-input-group [nzSuffix]="suffixTemplate">
                <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="패스워드" [(ngModel)]="user.user_pw" (keydown)="familyLoginKeyDown($event)"/>
            </nz-input-group>
            <ng-template #suffixTemplate>
                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
            <button nz-button nzType="default" (click)="familyLogin()">로그인</button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!loggedIn() && name == null">
    <div id="login-wrapper">
        <div id="login">
            <nz-input-group>
                <input type="text" nz-input placeholder="아이디" [(ngModel)]="user.user_id" (keydown)="loginKeyDown($event)"/>
            </nz-input-group>        
            <nz-input-group [nzSuffix]="suffixTemplate">
                <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="패스워드" [(ngModel)]="user.user_pw" (keydown)="loginKeyDown($event)"/>
            </nz-input-group>
            <ng-template #suffixTemplate>
                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
            <button nz-button nzType="default" (click)="login()">로그인</button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="loggedIn()">
    <app-nav></app-nav>
    <div id="wrapper">
        <router-outlet></router-outlet>
    </div>
</ng-container>
