<div id="header">
  <div id="title">
    <i nz-icon nzType="user" nzTheme="outline"></i>
    강의공지
  </div>
</div>

<div id="content">
  <div id="main-table">
    <div class="table-menu">
      <button nz-button nzType="default" nzShape="circle" (click)="noticeAdd()"><i title="추가" nz-icon nzType="plus"></i></button>
      <button nz-button nzType="default" nzShape="circle" (click)="noticeUpdate()" [disabled]="selectedNotice.class_notice_seq == undefined"><i title="수정" nz-icon nzType="edit"></i></button>
      <button nz-button nzType="default" nzShape="circle" (click)="noticeDelete()" [disabled]="selectedNotice.class_notice_seq == undefined"><i title="삭제" nz-icon nzType="delete"></i></button>
    </div>
    <nz-table
    #testTable
    nzShowSizeChanger
    nzBordered
    nzNoResult = "조회된 결과가 없습니다"
    [nzFrontPagination]="false"
    [nzData]="notices.data"
    [nzLoading]="noticeLoading"
    [nzTotal]="notices.totalElements"
    [(nzPageIndex)]="notices.pageNumber"
    [(nzPageSize)]="notices.size"
    (nzPageIndexChange)="getClassNotice()"
    nzShowSizeChanger="false"
    nzSize="small">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="40%" [nzAlign]="'center'">제목</th>
        <th nzWidth="20%" [nzAlign]="'center'">작성자</th>
        <th nzWidth="40%" [nzAlign]="'center'">작성일</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of testTable.data"
        (click)="selectNotice(data)"
        (dblclick)="noticeContent()"

        [ngClass]="{
          'on':this.selectedNotice.class_notice_seq === data.class_notice_seq
        }"
        style="cursor: pointer;"
      >
        <td [nzAlign]="'center'">{{ data.title }}</td>
        <td [nzAlign]="'center'">{{ data.reg_user }}</td>
        <td [nzAlign]="'center'">{{ data.reg_dt }}</td>
      </tr>
    </tbody>
  </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="isNoticeContent"
          nzTitle="강의 공지" 
          (nzOnCancel)="popupCancel()"
          (nzOnOk)="noticeContentOk()"
          nzWidth="550">
  <div class="popup-content">
    <div>
      <!-- <input nz-input type="text" placeholder="수업 이름" [(ngModel)]="popupClass.class_nm"/> -->
      {{ this.selectedNotice.content }}
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="popupCancel()">나가기</button>
  </div>
</nz-modal>