<div style="height: 40px; background-color: #001529;">
  <div style="float:left; width: 100px; margin: 10px;">
      <img routerLink="/admin" src="../../../assets/images/logo_fininsight_white.png" style="width:80px;">
  </div>
  <div style="float:right;">
    <ul nz-menu nzMode="horizontal" nzTheme="dark">
      <li nz-submenu nzTitle="회원관리" nzIcon="user">
        <ul class="subment">
          <li routerLink="/admin/user" nz-menu-item>회원관리</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="강사관리" nzIcon="solution">
        <ul class="subment">
          <li nz-menu-item>강사관리</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="오프라인" nzIcon="robot">
        <ul class="subment">
          <li nz-menu-item>카테고리관리</li>
        </ul>
        <ul class="subment">
          <li nz-menu-item>강의관리</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="온라인" nzIcon="desktop">
        <ul class="subment">
          <li nz-menu-item>카테고리관리</li>
        </ul>
        <ul class="subment">
          <li nz-menu-item>강의관리</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="쿠폰관리" nzIcon="tags">

      </li>
      <li nz-submenu nzTitle="메일관리" nzIcon="mail">

      </li>
      <li nz-submenu nzTitle="통계" nzIcon="line-chart">

      </li>
      <li nz-submenu nzTitle="설정" nzIcon="setting"></li>
      <!--
      <li nz-menu-item>
        <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
      </li>
      -->
    </ul>
  </div>
</div>