<div id="nav-warpper">
  <div>
      <img routerLink="/admin" src="../../../assets/images/logo_fininsight_white.png" style="width:80px;">
  </div>
  <div>
    <ul nz-menu nzMode="horizontal" nzTheme="dark">
      <li nz-submenu nzTitle="정산" nzIcon="form" *ngIf="authService.roleCheck(['family'])">
        <ul class="subment">
          <li routerLink="/admin/family-addfare" nz-menu-item>정산</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="회원관리" nzIcon="user" *ngIf="authService.roleCheck(['admin'])">
        <ul class="subment">
          <li routerLink="/admin/user" nz-menu-item>회원관리</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="강사관리" nzIcon="solution" *ngIf="authService.roleCheck(['admin'])">
        <ul class="subment">
          <li routerLink="/admin/teacher" nz-menu-item>강사관리</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="강의관리" nzIcon="robot" *ngIf="authService.roleCheck(['admin'])">
        <ul class="subment">
          <li routerLink="/admin/class" nz-menu-item>강의관리</li>
        </ul>
        <ul class="subment">
          <li routerLink="/admin/class-notice" nz-menu-item>강의공지</li>
        </ul>
        <ul class="subment">
          <li nz-menu-item>구독관리</li>
        </ul>
        <ul class="subment">
          <li routerLink="/admin/curriculum" nz-menu-item>커리큘럼</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="수강생관리" nzIcon="team" *ngIf="authService.roleCheck(['admin'])">
        <ul class="subment">
          <li routerLink="/admin/student" nz-menu-item>수강생관리</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="쿠폰관리" nzIcon="tags" *ngIf="authService.roleCheck(['admin'])">
        <ul class="subment">
          <li routerLink="/admin/coupon" nz-menu-item>쿠폰관리</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="메일관리" nzIcon="mail" *ngIf="authService.roleCheck(['admin'])">
        <ul class="subment">
          <li routerLink="/admin/emaillog" nz-menu-item>메일이력</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="통계" nzIcon="line-chart" *ngIf="authService.roleCheck(['admin'])">

      </li>
      <li nz-submenu nzTitle="설정" nzIcon="setting" *ngIf="authService.roleCheck(['admin'])">
        <ul class="subment">
          <li routerLink="/admin/code" nz-menu-item>코드관리</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="업무" nzIcon="form" *ngIf="authService.roleCheck(['admin'])">
        <ul class="subment">
          <li routerLink="/admin/teacher" nz-menu-item>강사관리</li>
          <li routerLink="/admin/incam-contract" nz-menu-item>계약관리</li>
          <li routerLink="/admin/incam-addfare" nz-menu-item>내부정산</li>
          <li routerLink="/admin/fin-work" nz-menu-item>사업관리</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="FAQ" nzIcon="question" *ngIf="authService.roleCheck(['admin'])">
        <ul class="subment">
          <li routerLink="/admin/faq" nz-menu-item>FAQ</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="워드 프레스" nzIcon="dashboard" *ngIf="authService.roleCheck(['admin'])">
        <ul class="subment">
          <li routerLink="/admin/wpboard-notice" nz-menu-item>최신글 연동</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="주문관리" nzIcon="credit-card" *ngIf="authService.roleCheck(['admin'])">
        <ul class="subment">
          <li routerLink="/admin/order-manage" nz-menu-item>주문관리</li>
        </ul>
      </li>
      <li nz-menu-item nzIcon="setting" (click)="logout()">로그아웃</li>
    </ul>
  </div>
</div>
