#board-content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#board-content-inner {
  width: 1000px;
}

#board-content-inner > .board-title > h1 {
  font-size: 2.5em;
}

#board-content-inner > .board-info {
  width: 100%;
  margin-bottom: 50px;
  padding: 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #f6f6f6;
}

#board-content-inner > .board-info > span {
  margin-right: 50px;
}

#board-content-inner > .board-info > span > b {
  margin-right: 10px;
}

#board-content-inner > .board-control-btn-wrapper {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

#board-content-inner > .board-control-btn-wrapper button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#board-content-inner > .board-control-btn-wrapper button:hover {
  transform: translateZ(0) scale(0.97);
}

#board-content-inner > .board-control-btn-wrapper > .right-box button {
  margin-left: 10px;
}