/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/style/index.min.css"; /* Import basic styles */
@import "~ng-zorro-antd/button/style/index.min.css"; /* Import styles of the component */

body, html{
    margin: 0;    
    font-family: "Nanum Gothic";
}

#content div.ant-table {
    /* font-size: 11px; */
}


.class-info {
    margin-top: 30px;
}

.class-info .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* font-size: 30px; */
    font-weight: 700;
    color: black;
    margin-bottom: 40px;
}

.class-info .title .title-line {
    height: 5px;
    background-color: orange;
}

.class-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    background: url('assets/images/template/template02-01.png') no-repeat center center;
}

.class-title .title {
    margin-top: 5px;
}