<div id="qna">
  <div class="question-write">
    <div class="question-write-btn">
      <button  nz-button nzType="primary" *ngIf="questionType == 0" (click)="createQuestionWrite()">질문하기</button>
      <button  nz-button nzType="primary" (click)="writeCancel()" *ngIf="questionType == 1"> 나가기 </button>
      <button  nz-button nzType="primary" *ngIf="questionType == 1" (click)="writeOK()" style="background-color:#f09b23;">질문하기</button>
    </div>
    <div *ngIf="questionType == 1" class="question-content" >
      <label>제목</label>
      <input nz-input type="text" placeholder="제목" [(ngModel)]="qna.title"/>
      <label>내용</label>
      <div
        #class
        [froalaEditor]="option"
        [(froalaModel)]="qna.content"
      ></div>
    </div>
    
  </div>
  <div class="question-box" *ngFor="let data of qnaes.data">
    <div class="question-box-header">
      <button nz-button nzType="primary" (click)="editAble(data.class_qna_seq)" *ngIf="edit[data.class_qna_seq] === 0 && reply[data.class_qna_seq] === 0"> 수정 </button>
      <button nz-button nzType="primary" (click)="complete(data.class_qna_seq)" *ngIf="edit[data.class_qna_seq] === 1" style="background-color:#f09b23;" > 수정 </button>
      <button nz-button nzType="primary" (click)="deleteClassQna(data.class_qna_seq)" *ngIf="edit[data.class_qna_seq] === 0 && reply[data.class_qna_seq] === 0"> 삭제 </button>
      <button nz-button nzType="primary" (click)="replyAble(data.class_qna_seq)" *ngIf="edit[data.class_qna_seq] === 0 && reply[data.class_qna_seq] === 0 && !data.reply"> 답변하기 </button>
      <button nz-button nzType="primary" (click)="complete(data.class_qna_seq)" *ngIf="edit[data.class_qna_seq] === 0 && reply[data.class_qna_seq] === 1" style="background-color:#f09b23;" > 답변하기 </button>
      <button nz-button nzType="primary" (click)="cancle(data.class_qna_seq)" *ngIf="edit[data.class_qna_seq] === 1 || reply[data.class_qna_seq] === 1"> 나가기 </button>
    </div>
    
    <div class="content">
      <h1 *ngIf="edit[data.class_qna_seq] === 0">{{ data.title }}</h1>
      <p [innerHTML]="data.content | safeHtml" *ngIf="edit[data.class_qna_seq] === 0"></p>
      <input nz-input type="text" placeholder="제목" [(ngModel)]="qnaTitle[data.class_qna_seq]" *ngIf="edit[data.class_qna_seq] === 1"/>
      <div
        #class
        [froalaEditor]="option"
        [innerHTML]="data.content | safeHtml"
        [(froalaModel)]="qnaContent[data.class_qna_seq]"
        *ngIf="edit[data.class_qna_seq] === 1"
      ></div>
      <div>
        <div
            #class
            [froalaEditor]="option"
            [innerHTML]="data.reply | safeHtml"
            [(froalaModel)]="qnaReply[data.class_qna_seq]"
            *ngIf="reply[data.class_qna_seq] === 1"
          ></div>
      </div>
      <div class="reply-box"  *ngIf="data.reply">
        <div class="reply-header">
          <button nz-button nzType="primary" (click)="replyEditAble(data.class_qna_seq)" *ngIf="replyEdit[data.class_qna_seq] === 0"> 수정 </button>
          <button nz-button nzType="primary" (click)="replyDelte(data.class_qna_seq)" *ngIf="replyEdit[data.class_qna_seq] === 0"> 삭제 </button>
          <button nz-button nzType="primary" (click)="complete(data.class_qna_seq)" *ngIf="replyEdit[data.class_qna_seq] === 1" style="background-color:#f09b23;"> 수정 </button> 
          <button nz-button nzType="primary" (click)="cancle(data.class_qna_seq)" *ngIf="replyEdit[data.class_qna_seq] === 1"> 나가기 </button>
        </div>
        <div class="reply-content">
          <p [innerHTML]="data.reply | safeHtml" *ngIf="replyEdit[data.class_qna_seq] === 0"></p>
          <div
            #class
            [froalaEditor]="option"
            [innerHTML]="data.reply | safeHtml"
            [(froalaModel)]="qnaReply[data.class_qna_seq]"
            *ngIf="replyEdit[data.class_qna_seq] === 1"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <nz-pagination [(nzPageIndex)]="qnaes.pageNumber" [nzTotal]="qnaes.totalElements" (nzPageIndexChange)="getClassQnaes()"></nz-pagination>
</div>