#header {
    display: flex;
    justify-content: space-between;
  }
  
  #header #title{
    font-size: 17px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  #header #manage{
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  #header #manage button {
    margin: 0 3px;
  }
  
  #content #main-table {
    width: 1000px;
  }
  
  tr.on td {
    background-color: #e3f8ff;
  }
  
  .popup-content input{
    width: 300px;
    margin-bottom: 5px;
  }