<!-- <div id="carousel">
</div> -->

<div id="wrapper">
    <div id="main-contents">
        <section>
            <div class="main-content">
                <div class="content">
                    <div class="title">인사이트 캠퍼스</div>
                    <div class="sub-title">가치를 높이는 금융 인공지능 실무 교육</div>
                    <div class="elementor-btn">교육 과정 바로가기</div>
                </div>
                
            </div>
            <div class="main-content">
                <div class="content">
                    <div class="title">인사이트 캠퍼스<br>기업 교육</div>
                    <div class="sub-title">금융기관이 원하는 맞춤형 실무교육을 제공합니다. </div>
                    <div class="elementor-btn">기업 교육 바로가기</div>
                </div>
                
            </div>
            <div class="main-content">
                <div class="content">
                    <div class="title">인사이트 캠퍼스<br>프리미엄 멤버쉽</div>
                    <div class="sub-title">최대 40% 할인 혜택으로 다양한 실무교육을 경험하세요!</div>
                    <div class="elementor-btn">프리미엄 멤버쉽 바로가기</div>
                </div>
                
            </div>
        </section>
        
    </div>
    <div class="dot-element">
        <span class="dot" (click)="dotSlide(1)"></span>
        <span class="dot" (click)="dotSlide(2)"></span>
        <span class="dot" (click)="dotSlide(3)"></span>
    </div>
    
    <div class="main-elementor">
        <div id="elementor">
            <div id="search">
                <div id="keyword-search">
                    <b>원하는 과정의 키워드를 검색하세요</b>
                </div>
                <div id="search-form">
                    <div id="search-elementor-form">
                        <div id="keyword">
                            <input size="1" type="text" name="search" placeholder="Search...">
                        </div>
                        <div id="search-btn">
                            <button>검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="class-elementor">
            <img src="../../../assets/images/main_icon.png" width="53" height="53">
            <h2>현재 모집 중</h2>
            <div class="class-list">
                <div class="class-info">
                    <ul>
                    <li>
                        <div class="class-detail">
                            <div class="class-img">
                                <img src="../../../assets/images/test.jpeg" height="270" width="283">
                            </div>
                            <div class="class-body">
                                <div class="class-title">
                                    [온라인] 의료 데이터 분석 - 딥러닝 Clssification 3기
                                </div>
                                <div class="class-teacher">이정훈 강의교수님</div>
                            </div>
                            <div class="class-footer">
                                <div class="class-comment">
                                    0
                                </div>
                                <div class="class-user">
                                    0
                                </div>
                            </div>
                        </div>
                    </li> 
                    <li>
                        <div class="class-detail">
                            <div class="class-img">
                                <img src="../../../assets/images/test.jpeg" height="270" width="283">
                            </div>
                            <div class="class-body">
                                <div class="class-title">
                                    [온라인] 의료 데이터 분석 - 딥러닝 Clssification 3기
                                </div>
                                <div class="class-teacher">이정훈 강의교수님</div>
                            </div>
                            <div class="class-footer">
                                <div class="class-comment">
                                    0
                                </div>
                                <div class="class-user">
                                    0
                                </div>
                            </div>
                        </div>
                    </li> 
                    <li>
                        <div class="class-detail">
                            <div class="class-img">
                                <img src="../../../assets/images/test.jpeg" height="270" width="283">
                            </div>
                            <div class="class-body">
                                <div class="class-title">
                                    [온라인] 의료 데이터 분석 - 딥러닝 Clssification 3기
                                </div>
                                <div class="class-teacher">이정훈 강의교수님</div>
                            </div>
                            <div class="class-footer">
                                <div class="class-comment">
                                    0
                                </div>
                                <div class="class-user">
                                    0
                                </div>
                            </div>
                        </div>
                    </li> 
                    <li>
                        <div class="class-detail">
                            <div class="class-img">
                                <img src="../../../assets/images/test.jpeg" height="270" width="283">
                            </div>
                            <div class="class-body">
                                <div class="class-title">
                                    [온라인] 의료 데이터 분석 - 딥러닝 Clssification 3기
                                </div>
                                <div class="class-teacher">이정훈 강의교수님</div>
                            </div>
                            <div class="class-footer">
                                <div class="class-comment">
                                    0
                                </div>
                                <div class="class-user">
                                    0
                                </div>
                            </div>
                        </div>
                    </li> 
                  
                    </ul>
                </div>
            </div>
        </div>
        <div class="elementor-divider">
            <span></span>
        </div>
        <div class="class-elementor">
            <img src="../../../assets/images/main_icon.png" width="53" height="53">
            <h2>교육과정 둘러보기</h2>
            <div class="class-curriculum">
                <strong>금융데이터사이언스 | 인공지능 | 프로그래밍 | 비즈니스</strong>
            </div>
            
            <div class="class-list">
                <div class="class-info">
                    <ul>
                    <li *ngFor="let data of classes.data" style="cursor: pointer;">
                        <div class="class-detail">
                            <div class="class-img">
                                <img src="../../../assets/images/test.jpeg" height="270" width="283">
                            </div>
                            <div class="class-body">
                                <div class="class-title">
                                    [{{ data.category_name }}]{{ data.class_nm }}
                                </div>
                                <div class="class-teacher">{{ data.teacher_name }}</div>
                            </div>
                            <div class="class-footer">
                                <div class="class-comment">
                                    0
                                </div>
                                <div class="class-user">
                                    0
                                </div>
                            </div>
                        </div>
                    </li> 
                    </ul>
                </div>
            </div>
        </div>
        <div class="elementor-divider">
            <span></span>
        </div>
        <div class="class-elementor">
            <img src="../../../assets/images/main_icon.png" width="53" height="53">
            <h2>인사이트 커뮤니티</h2>
            <div class="community">
                <div class="community-row1">
                    <div class="row1">
                        <div class="row-content">
                            <p>자료실</p>
                        </div>
                        <div class="row-table">
                            <table>
                                <thead>
                                   <tr>
                                       <td class="table-title">제목</td>
                                       <td class="table-date">작성일</td>
                                   </tr> 
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tbody-title">프로그래밍 잘하는 5가지 방법</td>
                                        <td class="tbody-date">2021.02.08</td>
                                    </tr>
                                    <tr>
                                        <td class="tbody-title">프로그래밍 잘하는 5가지 방법</td>
                                        <td class="tbody-date">2021.02.08</td>
                                    </tr>
                                    <tr>
                                        <td class="tbody-title">프로그래밍 잘하는 5가지 방법</td>
                                        <td class="tbody-date">2021.02.08</td>
                                    </tr>
                                    <tr>
                                        <td class="tbody-title">프로그래밍 잘하는 5가지 방법</td>
                                        <td class="tbody-date">2021.02.08</td>
                                    </tr>
                                    <tr>
                                        <td class="tbody-title">프로그래밍 잘하는 5가지 방법</td>
                                        <td class="tbody-date">2021.02.08</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
                <div class="community-row2">
                    <div class="row1">
                        <div class="row-content">
                            <p>수강생 후기</p>
                        </div>
                        <div class="row-table">
                            <table>
                                <thead>
                                   <tr>
                                       <td class="table-title">제목</td>
                                       <td class="table-date">작성일</td>
                                   </tr> 
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tbody-title">"실제 주식시장의 작동 원리와 구조를 알 수 있어서 좋았습니다"</td>
                                        <td class="tbody-date">2021.02.08</td>
                                    </tr>
                                    <tr>
                                        <td class="tbody-title">"실제 주식시장의 작동 원리와 구조를 알 수 있어서 좋았습니다"</td>
                                        <td class="tbody-date">2021.02.08</td>
                                    </tr>
                                    <tr>
                                        <td class="tbody-title">"실제 주식시장의 작동 원리와 구조를 알 수 있어서 좋았습니다"</td>
                                        <td class="tbody-date">2021.02.08</td>
                                    </tr>
                                    <tr>
                                        <td class="tbody-title">"실제 주식시장의 작동 원리와 구조를 알 수 있어서 좋았습니다"</td>
                                        <td class="tbody-date">2021.02.08</td>
                                    </tr>
                                    <tr>
                                        <td class="tbody-title">"실제 주식시장의 작동 원리와 구조를 알 수 있어서 좋았습니다"</td>
                                        <td class="tbody-date">2021.02.08</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="spacer"></div>
    <div class="class-elementor">
        <img src="../../../assets/images/main_icon.png" width="53" height="53">
        <h2>인사이트 카테고리</h2>
    </div>
    <div class="category">
        <div id="category-background"></div>
        <div class="main-elementor">
            <div class="element">
                <span></span>
            </div>
            <div class="category-content">
                <strong>실무전문가과정</strong>
                <p>앞서가는 실무 데이터 사이언스 전문가를 만드는 교육과정입니다. <br>인사이트 캠퍼스의 교육을 통해 급변하는 비즈니스를 이끄는 전문가로 성장할 수 있습니다.</p>
            </div>
            <div class="spacer"></div>
            <div class="category-rows">
                    <div class="column-row">
                        <div class="row">
                            <img src="../../../assets/images/user.png" height="50" width="50">
                            <h3>금융데이터사이언스</h3>
                            <p>#퀀트 #트레이딩 #포트폴리오관리</p>
                        </div>
                    </div>
                    <div class="column-row">
                        <div class="row">
                            <img src="../../../assets/images/user.png" height="50" width="50">
                            <h3>인공지능</h3>
                            <p>#AI엔지니어링 #애널리틱스 #챗봇</p>
                        </div>
                    </div>
                    <div class="column-row">
                        <div class="row">
                            <img src="../../../assets/images/user.png" height="50" width="50">
                            <h3>프로그래밍</h3>
                            <p>#프로그래밍기초 #파이썬 #R #블록체인개발 </p>
                        </div>
                    </div>
                    <div class="column-row">
                        <div class="row">
                            <img src="../../../assets/images/user.png" height="50" width="50">
                            <h3>비즈니스</h3>
                            <p>#업무자동화 #조직커뮤니케이션 #외국어</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="main-elementor">
        <div class="class-elementor">
            <img src="../../../assets/images/main_icon.png" width="53" height="53">
            <h2>인사이트 캠퍼스 5C Way</h2>
        </div>
        <div class="elementor-divider">
            <span></span>
        </div>
        <div class="element">
            <span></span>
        </div>
        <div class="ingisht5cway-content">
            <span>인사이트캠퍼스교육과정을수료한다면?</span>
            <p>인사이트 캠퍼스의 실무 전문가 과정을 이수한 수강생 분들에게는 5C Way의 기회가 주어지게 됩니다.</p>
            <img src="../../../assets/images/5cway.jpeg">
        </div>
        
    </div>
    
</div>
